.login_container {
    padding: 30px;
    position: fixed;
    right:120px;
    top: 70px;
    height: 230px;
    width: 250px;
    border-radius: 40px;
    background-color: #FFFF;
    box-shadow: -3px 0px 10px rgba(0, 0, 0, 0.2), 3px 0px 10px rgba(0, 0, 0, 0.2);
}

.login_header {
    display: grid;
    grid-template-columns: 70px 100px;
    border-bottom: 1px solid #219ca4;
    padding-bottom: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.082);
    justify-items: left;
    align-items: center;
}

.login_header svg {
    background-color: transparent;
    border: none;
    color: #219ca4;
    font-size: 50px;
}

.login_header h1 {
    color: #219ca4;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    padding: 0px;
    padding-left: 10px;
    margin: 0px;
}


.list {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin-top: -10px;
    align-items: center;
    height: 150px;
    display: grid;
    grid-template-columns: 1fr;
}
  
.list a {
    color: #219ca4;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
}

.item {
    
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
   
}

.line {
    width: 80px;
    height: 1px;
    background-color: #219ca4;
    justify-self: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
.perfil{
    color: #219ca4;
    position: absolute;
    top: 130px;
    right: 220px;
}
.edit{
    color: #219ca4;
    position: absolute;
    top: 186px;
    right: 235px;
}
.logout{
    color: #219ca4;
    position: absolute;
    top: 239px;
    right: 185px;
}