.home_container {
    display: grid;
    grid-template-columns: 1fr;
}

.section1 {
    margin-top: 120px;
    height: 450px;
    background-image: linear-gradient(180deg, rgba(94, 204, 211, 0.47) 0%, rgba(223, 203, 20, 0.42) 75.52% 100%), url('../../public/idoso.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    z-index: -1;
} 

.section1_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #ffffff;
}

.section2 {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr;
    background-color: white;
    justify-items: center;
    margin-bottom:180px;
}
  
.rectangle {
    position: relative;
    top: -80px;
    z-index: 1;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    height: 20%;
    max-width: 900px;
    min-width: 400px;
    min-height: 160px;
    background-color: #ffffff;
    border-radius: 40px 40px 40px 40px;
    box-shadow: -3px 0px 10px rgba(0, 0, 0, 0.2), 3px 0px 10px rgba(0, 0, 0, 0.2);
    align-self: center;
}
  
.rectangle::before {
    content: "";
    position: absolute;
    top: 5px;
    bottom: 5px;
    justify-self: center;
    width: 2px;
    background-color: #219CA4;
}

.stethoscope_box {
    margin-left: 50%;
    border-radius: 0px 40px 40px 00px;
    width: 50%;
    height: 100%;
    cursor: pointer;
    display: grid;
}

.stethoscope_box:hover {
    background-color: rgba(157, 248, 255, 0.267);
}

.stethoscope_image {
    background-image: url('../stethoscope.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 65%;
    height: 65%;
    justify-self: center;
    align-self: center;
}

.board {
    margin-left: 60px;
    margin-right: 60px;
    background-color: #c5eef1;
    padding-top: 40px; 
    padding-right: 30px;
    padding-left: 45px; 
    border-radius: 30px;
    max-width: 600px;
    display: grid;
    grid-column-gap: 45px;
    grid-template-columns: 3fr 1.5fr;
}

.board p{
    margin-top: 0px;
    color: #1a929b;
    font-weight: 500;
    font-size: 1.4rem;
}

.board .image {
    height: 205px;
    background-image: url('../../public/muie.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
