@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,800,800i,900i&display=swap');

.profile_container {
    min-height: 100vh;
}

.header_container {
    z-index: 50;
}

.customFont {
    font-family: 'poppins', sans-serif;
}

.page_container {
    padding-top: 143px;
    padding-left: 40px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 500px auto;
    gap: 20px;
    background-color: #efefef;
    text-align: left;
    padding-bottom: 140px;
    box-sizing: border-box;
}

.elder_left_content {
    margin-top:20px;
    width: 100%;
    height: 100%;
}

.elder_right_content {
    margin-left: 20px;
    margin-right: 40px;
}

.elder_image {
    width: 350px;
    height: 350px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 40px;
    padding-bottom: 10px;
}

.elder_right_content h2 {
    color: black;
}

.description_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.description_header h2 {
    text-align: left;
}

.description {
    margin-right: 20px;
    white-space: pre-line;
}

.elder_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right:40px;
}

.elder_contact{
    margin-bottom:2px;
}

.editBox .editButton {
    padding: 0;
    margin: 0;
    width: 50px;
    color: #3fa0a7;
}

.editBox .editIcon{
    color: #3fa0a7;
}

.general_info {
    font-size: 1.05rem;
}

.elder_gender{
    margin-left: 0px;
}

.token {
    display: flex;
    align-items: center;
    column-gap: 7px;
}

.token_format {
    color: #3fa0a7;
}

.address {
    display: flex;
    align-items: center;
    column-gap: 7px;
}

.address .location_icon {
    width: 33px;
    height: 33px;
    fill: #219CA4
}

.address span {
    font-size: 1.1rem;
}

.edit_profile {
    width: 100%;
    height: 100%;
}

.footer_section {
    width: 100%;
    height: 60px;
    margin-top: -60px;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

.modalContent {
    font-family: 'Nunito Sans', sans-serif;
    position: relative;
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    margin: 100px auto;
    padding: 20px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    border-radius: 18px;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.modalTitle {
    font-size: 19px;
    color:#219CA4;
    font-weight: 700;
}

.modal .closeButton {
    background-color: transparent;
    color: #219CA4;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: 25px;
    right: 25px;
    width: 25px;
    height: 25px;
}

.modal .closeIcon {
    width: 40px;
    height: 40px;
}

.closeButton:hover {
    color: #f00;
    background-color: transparent;
}

.form_group {
    height: 70%;
    display: grid;
    grid-template-rows: 1fr 1fr 7fr;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.form_group h3{
    color: #219CA4;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form_group label{
    margin-bottom: 15px;
}

.form_group textarea {
    font-family: 'poppins', sans-serif;
    font-size: 1em;
    border: none;
    padding-top: 25px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    height: 70%;
    width: 95%;
    border-radius: 5px;
    background-color: #ffffff;
    color: #219ca4;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    outline: 2px solid #219ba483;
    resize: none; 
}

.form_group textarea::placeholder {
    color: #219ca4;
}

.buttons_container {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    justify-items: right;
    bottom: 25px;
    right: 30px;
    width: 60%;
}

.buttons_container .cancelButton {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #b5b5b5;
    border-radius: 8px;
    height: 45px;
}

.buttons_container .saveButton {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #219CA4;
    border-radius: 8px;
    height: 45px;
}

.buttons_container .cancelButton:hover {
    background-color: #c5c5c5;
}

.buttons_container .saveButton:hover {
    background-color: #219CA4;
}

.elder_image .button_icon {
    background-color: #219CA4;
    border-radius: 40px;
    width: 100%;
    height: 100%;
    color: #fefefefe;
}