@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.search_container {
    min-height: 100vh;
}

.customFont {
    font-family: 'poppins', sans-serif;
}

.page_container{
    width: 100%;
    background-color: #e3fbf3;
    min-height: 100vh;
    padding-bottom: 80px;
    box-sizing: border-box;
}

.search_left {
    display: flex;
    width: 100%;
    background-color: white;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    outline: 2px solid #219CA4;
}
  
.search_left input {
    background-color: transparent;
    flex: 1;
    font-size: 1.2em;
    border: 0;
    outline: none;
    padding-right: 15px;
}

.forms{
    padding-top: 143px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    max-width: 100%;
}

.forms .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    column-gap: 20px;
}

.search_right {
    border-radius: 20px;
    border-left: 2px solid #219CA4;
    border-top: 2px solid #219CA4;
    border-bottom: 2px solid #219CA4;
    border-right: 2px solid #219CA4;
    padding: 0px;
    margin: 0px;
}

.search_right .select_limit {
    background-color: #ffff;
    color:#219CA4;
    outline: none;
    font-size: 20px;
    text-align: right;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 75px;
    height: 65px;
    text-align: center;
    text-justify: center;
    background-image: url("../expand.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 35px;
    padding-right: 25px;
    border-radius: 20px;
}

.forms .select_limit::placeholder {
    background-color: transparent;
    color:#219CA4;
}

.search_left input {
    color: #219CA4;
}

.search_left input::placeholder {
    color: #219CA4;
}
  
.search_left button {
    border: 0;
    border-radius: 50%;
    background-color: #219CA4;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-image: url("../searchicon.svg");
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
}
  
.search_left button img{
    width: 35px;
    height: 35px;
}
  
button:hover {
    opacity: 0.7;
    background-color: #25b3bd;
}

.footer_section {
    width: 100%;
    height: 60px;
    margin-top: -60px;
}

.page_content {
    background-color: #e3fbf3;
}

.caregiver_slots {
    margin-left: 30px;
    margin-bottom: 30px;
    margin-right: 13px;
}

.caregiver_box {
    border-radius: 25px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 150px;
    background-color: #fefefe;
    height: 200px;
}

.caregiver_image{
    border-radius: 25px 25px 0px 0px;
    justify-self: center;
    width: 100%;
    height: 100%;
    background-image: url('../profile-images/joy.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.caregiver_boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-right: 10px;
}