.footer {
    display: flex;
    background-color: #219CA4;
    height: 60px;
    color: white;
    align-items: center;
    justify-content: center;
  }
  
  .text {
    text-align: center;
    margin: 0;
  }