.header_actions {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header_container {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 30px;
}

.header_login {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-right: 30px;
}

.header_login:hover {
    background-color: transparent;
}

.header_button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 5px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
  }

.header_button:hover {
    background-color: rgba(255, 255, 255, 0.493); 
    border-radius: 50%;
    
}

.header_login .header_icon{
    font-size: 1.6rem;
    width: 65px;
    height: 65px;
}

.login_button {
    display: flex;
    align-items: center;
    background-color:#219CA4;
    border: 2px solid white;
    border-radius: 15px;
    height: 50px;
    width: 170px;
}

.button_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    font-size: 1.3rem;
    font-weight: 700;
    color: #ffffff;
    position: absolute;
}

.login_button .button_account {
    height: 50px;
    width: 170px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    position: absolute;
}

.login_button .button_account:hover {
   background-color: #aac5c759;
}

.login_button .button_icon:hover {
    background-color: #aac5c759;
}

.login_button .button_icon {
    color:#ffffff;
    background-color: transparent;
    outline: none;
    align-self: left;
    left: 5px;
    border-radius: 30px;
    font-size: 2.2rem;
    position: absolute;
}
