.description {
    height: 70px;
}

.location {
    display: flex;
    align-items: center;
}

.card {
    width: 345px;
    height: 400px;
}

.cardContent{
    padding-bottom:1px;
}

.caregiver_image {
    height: 190px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.card .button_icon {
    background-color: #219CA4;
    width: 100%;
    height: 100%;
    color: #fefefefe;
}

.card .button {
    margin-top: -10px;
}